    //////////////////// FONT SIZES /////////////
    $fBody: 15px;
    $fSizeMedium: 14px;
    $fSizeLarge: 16px;
    $fSize18: 18px;
    $fSizeXL: 20px;
    $fSize22: 22px;
    $fSizeXXL: 24px;
    $fSizeXXXL: 26px;
    $fSizeFat: 28px;
   
    ////////////////////// Utilities ////////////////
    $lightGray: hsl(0, 0%, 95%);
    $transWhite: hsla(0, 0%, 100%, 0.75);
    $brightOrange:hsl(31, 77%, 52%);
    $darkCyan: hsl(184, 100%, 22%);
    $vDarkCyan: hsl(179, 100%, 13%);
   